/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #000;
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.home-page {
    background: #000 url("../img/JFS_0261.jpeg") no-repeat fixed center;
    background-size: contain;
}
#mobile-menu-open, #mobile-menu-close {
    display: none;
    text-align: center;
    color: #999;
    text-transform: uppercase;
}
.topnav {
    display: block;
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
    list-style-type: none;
    text-align: center;
    /*border: 1px solid orange;*/
}
.topnav li {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    color: #999;
    /*color: rgba(255,255,255,.6);*/
    background-color: transparent;
    font-size: 85%;
}
.topnav li:hover {
    color: #fff;
    cursor: pointer;
}
.topnav li.active {
    color: #fff;
}
.site-title {
    color: #fff;
    font-size: 250%;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -3px;
}
.container {
    width: 90%;
    margin: 0 auto;
}

#photography-credit {
    text-align: center;
    color: #fff;
}
#photography-credit a {
    color: #999;
}
.fotorama {
    margin-top: 50px;
}
.social-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #efefef;
}
/*.twitter-logo img:hover {
    width: 30px;
    height: 30px;
}*/
#footer {
   position: fixed;
   left: 0px;
   bottom: 20px;
   height: 30px;
   width: 100%;
   text-align: center;
}

.text-center {
    text-align: center;
}
.top-bottom-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
.brand-images img {
    max-width: 90%;
}
.brand-images a {
    color: #999;
}
.brand-images p {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 45em) {
        /* Style adjustments for viewports that meet the condition */
    #mobile-menu-open, #mobile-menu-close {
        margin: 0;
        padding: 10px 0 10px 0;
        background-color: rgba(0,0,0,0.8);
        border-bottom: 1px solid #555;
    }
    #mobile-menu-open {
        display: block;
    }
    .topnav {
        display: none;
        margin: 0;
    }
    .topnav li {
        display: block;
        background-color: rgba(0,0,0,0.8);
    }
    .site-title {
        position: absolute;
        top: 80%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 1.7em;
        font-weight: 400;
        letter-spacing: -3px;
    }
    .hidden {
        display: none;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
